.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 90px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.05s linear;
  background-color: #b1b9ed;
}

.button:hover {
  background-color: #bec5f6;
}

.button:active {
  transform: scale(0.97);
}

.icon {
  width: 50px;
  height: 50px;
  color: #353561;
}
